.sidebar {
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: var(--color-primary);
}

.sidebar-logo-container {
    display: 'flex';
    align-items: center;
}

.sidebar-logo-container img {
    width: 50%;
    padding: 2em;
}

.sidebar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-items {
    height: 100%;
    width: 100%;
}

.sidebar-item {
    gap: 10px;
    display: flex;
    padding: 1.5em 2em;
    color: var(--color-white);
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: var(--color-secondary);
}

.sidebar-item-active {
    gap: 10px;
    display: flex;
    padding: 1.5em 2em;
    color: var(--color-white);
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-secondary);
    cursor: pointer;
}

.sidebar-item-icon {
    width: 20px;
}

.sidebar-item-label {
    font-size: 0.9em;
    font-weight: 500;
}

/* Footer */
.sidebar-footer {
    padding: 1.5em 2em;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-footer:hover {
    background-color: var(--color-secondary);
}